<table class="table table-striped">
    <thead>
    <tr>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">Description</th>
        <th style="text-align: center;">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for library in libraries %}
    <tr>
        <td style="text-align: center;vertical-align: middle">{{library.name}}</td>
        <td style="text-align: center;vertical-align: middle">{{library.description}}</td>
        <td style="text-align: center;vertical-align: middle">
            <a href="{{library.id}}/delete/" class="btn btn-danger" role="button">Delete</a>
        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>

