<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Visibility</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for nf in object_list %}
    <tr>
        <td><a href='{{nf.get_absolut_url}}'>{{nf.name}}</a></td>
        <td>{{nf.description}}</td>
        <td>{{nf.visibility}}</td>
        <td>
            {% if nf.visibility == "Public" and user.is_staff %}
            <a onclick="confirmation({{nf.id}})" class="btn btn-danger" role="button" data-toggle="modal" data-target="#myModal">Delete</a>
            {% elif nf.visibility == "Private"%}
            <a onclick="confirmation({{nf.id}})" class="btn btn-danger" role="button" data-toggle="modal" data-target="#myModal">Delete</a>
            {% endif %}
        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>