{%extends "base/base.html"%}
{% load staticfiles %}

{% block head %}
<script src="{% static 'base/js/jquery.flotgraph.js' %}" xmlns="http://www.w3.org/1999/html"></script>
  <link href="{% static 'base/css/flot.css' %}" rel="stylesheet" type="text/css">
{% endblock head %}

{% block content %}
  <h1>Details of {{bbu.get_name}}</h1>
  <ol class="breadcrumb">
    <li><a href="{% url 'nvfis:list' %}">BBU</a></li>
    <li><a href="{% url 'nvfis:info' bbu.nvfi.scenario.id %}">{{bbu.nvfi.scenario}}</a></li>
    <li><a href="{% url 'nvfis:detail' bbu.nvfi.id %}">{{bbu.nvfi}}</a></li>
    <li class="active">{{bbu.get_name}}</li>
  </ol>

  <div class="panel panel-default">
    <div class="panel-heading">Parameters</div>
      <table class="table">
        <tbody>
          <tr>
            <th>Power transmistted carrier (dBm)</th>
            <td>{{bbu.pt}}</td>
            <td>dBm</td>
          </tr>
          <tr>
            <th>Central frequency (Hz) DL</th>
            <td>{{bbu.freC_DL}}</td>
            <td>Hz</td>
          </tr>
          <tr>
            <th>Bandwidth (Hz) DL</th>
            <td>{{bbu.bw_dl}}</td>
            <td>Hz</td>
          </tr>
          <tr>
            <th>Central frequency (Hz) UL</th>
            <td>{{bbu.freC_UL}}</td>
            <td>Hz</td>
          </tr>
          <tr>
            <th>Bandwidth (Hz) UL</th>
            <td>{{bbu.bw_ul}}</td>
            <td>Hz</td>
          </tr>
        </tbody>
      </table>
  </div>

  <a href="" class="btn btn-default" role="button">Reconfigure</a>


  <h3>Load</h3>
  <div class="mark">
    <div id="load" class="flot-mark"></div>
  </div>
  <h3>Monitoring</h3>
  <div class="users-rb" style="float:left;text-align:center">
    <div id="users" class="flot-mark"></div>
    <h4 style="margin-top:30px">Users connected</h4>
  </div>
  <div class="users-rb" style="float:left;text-align:center">
    <div id="rb" class="flot-mark"></div>
    <h4 style="margin-top:30px;">Rate Bit transmitted</h4>
  </div>
{% endblock content %}

{% block javascript %}
  {% include "partials/bbus/graph.html"%}
{% endblock javascript %}