{% extends "base/base.html" %}
{% load staticfiles %}

{% block head %}{% endblock head%}

{% block content%}
    <h2 class="sub-header"><i class="fa fa-file" aria-hidden="true"></i> Scripts</h2>
    {% include "scripts/partials/scripts.html" %}
    {% include "base/partials/paginator.html" with object_list=scripts %}
    <br>
    <a id="submit" href="{% url 'scripts:create' %}" class="btn btn-default" role="button" data-toggle="modal" data-target="#myModal">Create</a>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock content %}

{%block javascript%}
<script>
    function confirmation(id) {
        $('.modal-content').html('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title" id="myModalLabel">Confirmation</h4></div><div class="modal-body">Some Virtual Network Functiona can depend of this script, before delete it be carefull and delete this Virtual Network Functions.<br><br>Do you want to continue?<br><br><div class="modal-footer"><button type="button" style="margin-right:10px"class="btn btn-default" data-dismiss="modal">Cancel</button><a href="'+id+'/delete/" class="btn btn-danger">Delete</a></div></div>');
    }
</script>
{%endblock javascript%}