{%extends "base/base.html"%}
{% load staticfiles %}


{% block head %}
<link href="{% static 'base/css/jquery.flowchart.min.css' %}" rel="stylesheet" type="text/css">
{% endblock head%}

{%block content%}
<h1>VNF Forwarding Graph</h1>
<br>
<p>Drop and drag the VNF in order to create the VNF forwarding graph.</p>

<div class="modal-body">
    <form id="gui" method="POST" action="{% url 'epcs:gui' %}" enctype="multipart/form-data">
        {%csrf_token%}
        <label>NS Name: </label>
        {{ form.name }}
        <input type='submit' class="btn btn-default" onclick="submit()" id="btn" style="margin-left:50px"
               value="Generate"/>
        <button class="btn btn-danger" style="" id="delete_selected_button">Delete</button>
        <input type='submit' class="btn btn-default" style="" value=" Download VNFFGD"/>
        <br style="margin-bottom:10px">
        <div style="display:none">
            {{form.graph}}
        </div>

        <div class="options" style="vertical-align: middle;float: left;widht: 25%;height: 400px;margin-right: 4px;">
            {% include "gui/bottom.html" %}
        </div>
    </form>
</div>

<div class="demo" id="example"
     style="border: 2px solid #d0d0d0;width: 70%;height: 400px;margin-bottom: 10px;float: left;"></div></div>

<script src="http://code.jquery.com/jquery-1.12.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="{% static 'base/js/jquery.flowchart.js' %}"></script>
{% include "gui/jquery.html" %}
{%endblock content%}
