# Created by .ignore support plugin (hsz.mobi)
srs/images/migrations/*
!srs/images/migrations/__init__.py

srs/libraries/migrations/*
!srs/libraries/migrations/__init__.py

srs/nfs/migrations/*
!srs/nfs/migrations/__init__.py

srs/operators/migrations/*
!srs/operators/migrations/__init__.py

srs/scenarios/migrations/*
!srs/scenarios/migrations/__init__.py

srs/vims/migrations/*
!srs/vims/migrations/__init__.py

srs/vnfs/migrations/*
!srs/vnfs/migrations/__init__.py

srs/ns/ns/migrations/*
!srs/ns/ns/migrations/__init__.py

srs/ns/utrans/migrations/*
!srs/ns/utrans/migrations/__init__.py

srs/ns/epcs/migrations/*
!srs/ns/epcs/migrations/__init__.py

srs/OOCRAN/secret_key.py

srs/db.sqlite3

srs/drivers/Vagrant/repository/*