# Created by .ignore support plugin (hsz.mobi)

OOCRAN/images/migrations/*
!OOCRAN/images/migrations/__init__.py

OOCRAN/oocran/repositories

OOCRAN/operators/migrations/*
!OOCRAN/operators/migrations/__init__.py

OOCRAN/scenarios/migrations/*
!OOCRAN/scenarios/migrations/__init__.py

OOCRAN/vims/migrations/*
!OOCRAN/vims/migrations/__init__.py

OOCRAN/vnfs/migrations/*
!OOCRAN/vnfs/migrations/__init__.py

OOCRAN/schedulers/migrations/*
!OOCRAN/schedulers/migrations/__init__.py

OOCRAN/ns/migrations/*
!OOCRAN/ns/migrations/__init__.py

OOCRAN/pools/migrations/*
!OOCRAN/pools/migrations/__init__.py

OOCRAN/alerts/migrations/*
!OOCRAN/alerts/migrations/__init__.py

OOCRAN/keys/migrations/*
!OOCRAN/keys/migrations/__init__.py

OOCRAN/ues/migrations/*
!OOCRAN/ues/migrations/__init__.py

OOCRAN/bbus/migrations/*
!OOCRAN/bbus/migrations/__init__.py

OOCRAN/oocran/secret_key.py


OOCRAN/db.sqlite3
OOCRAN/drivers/Vagrant/repository/*
!OOCRAN/drivers/Vagrant/repository/__init__.py
OOCRAN/celerybeat.pid
.idea/misc.xml
.idea/modules.xml
.idea/oocran.iml
.idea/vcs.xml