# Created by .ignore support plugin (hsz.mobi)

src/images/migrations/*
!src/images/migrations/__init__.py

src/oocran/repositories

src/operators/migrations/*
!src/operators/migrations/__init__.py

src/scenarios/migrations/*
!src/scenarios/migrations/__init__.py

src/vims/migrations/*
!src/vims/migrations/__init__.py

src/vnfs/migrations/*
!src/vnfs/migrations/__init__.py

src/schedulers/migrations/*
!src/schedulers/migrations/__init__.py

src/ns/migrations/*
!src/ns/migrations/__init__.py

src/pools/migrations/*
!src/pools/migrations/__init__.py

src/alerts/migrations/*
!src/alerts/migrations/__init__.py

src/keys/migrations/*
!src/keys/migrations/__init__.py

src/ues/migrations/*
!src/ues/migrations/__init__.py

src/bbus/migrations/*
!src/bbus/migrations/__init__.py

src/oocran/secret_key.py


src/db.sqlite3
src/drivers/Vagrant/repository/*
!src/drivers/Vagrant/repository/__init__.py
src/celerybeat.pid
.idea/misc.xml
.idea/modules.xml
.idea/oocran.iml
.idea/vcs.xml