django==1.9
django-bootstrap-form==3.2.1
numpy==1.11.1
Jinja2==2.8
celery==4.0.2
django-celery==3.1.17
django-celery-results==1.0.1
django-celery-beat==1.0.1
python-openstackclient==2.6.0
python-heatclient==1.2.0
python-ceilometerclient==2.4.0
yapsy==1.11.223
simple-crypt==4.1.7
influxdb
psutil
paramiko
python-vagrant==0.5.14
tensorflow