{% load staticfiles %}

<table class="table table-striped">
    <thead>
    <tr>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">Num of Elements</th>
        <th style="text-align: center;">Price</th>
        <th style="text-align: center;">Cost</th>
        <th style="text-align: center;">Status</th>
        <th style="text-align: center;">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for NVFI in object_list %}
    {% if NVFI.area.name == area.name%}
    <tr>
        <td style="text-align: center;vertical-align: middle">{{NVFI.name}}</td>
        <td style="text-align: center;vertical-align: middle">{{NVFI.rb_offer}}</td>
        <td style="text-align: center;vertical-align: middle">{{NVFI.price}}/h</td>
        <td style="text-align: center;vertical-align: middle">{{NVFI.cost}} $</td>
        <td id="status-{{NVFI.id}}" style="text-align: center;vertical-align: middle">
            <p style="clear:left;margin-bottom:0px">{{NVFI.status}}</p>
        </td>
        <td style="text-align: center;vertical-align: middle">
            <div class="options" style="display:inline-block;">
                {% if NVFI.status == "Running" %}
                <button type="button" id="shutdown-{{NVFI.id}}" data-loading-text="Shutting Down..."
                        class="btn btn-warning">Shut Down
                </button>
                {% else %}
                <button type="button" id="launch-{{NVFI.id}}" data-loading-text="Launching..." class="btn btn-default">
                    Launch
                </button>
                {% endif %}
            </div>
            <div class="dropdown" style="display:inline-block;">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="{{NVFI.get_absolut_url}}">Details</a></li>
                    <li><a style="color:red" href="{% url 'epcs:delete' NVFI.id %}">Delete</a></li>
                </ul>
            </div>
        </td>
    </tr>
    {% endif %}
    {% include "partials/epcs/javascript/launch-shutdown.html" %}
    {%endfor%}
    </tbody>
</table>


