 <script>
    function confirmation(id) {
        $('.modal-content').html('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title" id="myModalLabel">Confirmation</h4></div><div class="modal-body">Some Network Services can depend of this VNF, before delete it be carefull and delete this Network services.<br><br>Do you want to continue?<br><br><div class="modal-footer"><button type="button" style="margin-right:10px"class="btn btn-default" data-dismiss="modal">Cancel</button><a href="'+id+'/delete/" class="btn btn-danger">Delete</a></div></div>');
    }
</script>