<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Import</th>
      <th>State</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{object.name}}</td>
          <td>{{object.email}}</td>
          <td>{{object.price}} $</td>
          <td id="state-{{object.id}}">
            {% if object.state == "Created" %}
              <div style="display:inline-block;">
                <div style="background-color: green;height: 20px;width: 20px;border-radius: 50% 50% 50% 50%;float: left;margin-left: 20px"></div> 
                <div style="float:left;margin-left: 5px">Created</div>
              </div>
            {% elif object.state == "Creating"%}
              <div style="display:inline-block;">
                <div style="background-color: orange;height: 20px;width: 20px;border-radius: 50% 50% 50% 50%;float: left;margin-left: 20px"></div>
                <div style="float:left;margin-left: 5px">Creating</div>
              </div>
            {%endif%}
          </td>
          <td>
            <a href="{% url 'operators:delete' object.id %}" class="btn btn-danger" role="button">Delete</a>
          </td>
        </tr>
      {%endfor%}
  </tbody>
</table>