<script>
    function loader() {
        $('.modal-content').html('<div style="width:180px;height:180px;margin:0 auto;text-align:center;margin-top:50px;margin-bottom:50px"><div class="loader"></div></div>');

        $.ajax({
            type: "GET",
            url: "{% url 'nfs:create' %}",
            success: function(response) {
                $('.modal-content').html(response);
                $('#mymessage').html('<div id="msn" style="width:300px;float:right;display:inline-block;margin-right:50px" class="alert alert-success">Successfully Deleted!</div>');
            },
        });
    }

    function confirmation (id) {
        $('.modal-content').html('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title" id="myModalLabel">Confirmation</h4></div><div class="modal-body">Some VNF can depend of this library, before delete it be carefull and delete these VNFs.<br><br>Do you want to continue?<br><br><div class="modal-footer"><button type="button" style="margin-right:10px"class="btn btn-default" data-dismiss="modal">Cancel</button><a href="'+id+'/delete/" class="btn btn-danger">Delete</a></div></div>');
    }
</script>