<table class="table table-striped">
    <thead>
    <tr>
      <th style="text-align: center;">IP</th>
      <th style="text-align: center;">NVF</th>
      {% if user.is_staff%}
        <th style="text-align: center;">Actions</th>
      {%endif%}
    </tr>
    </thead>
    <tbody>
      {% for ip in ips %}
        <tr>
            <td style="text-align: center;vertical-align: middle">{{ip.ip}}</td>
            <td style="text-align: center;vertical-align: middle">{{ip.nvf}}</td>
            {% if user.is_staff %}
              <td style="text-align: center;vertical-align: middle">
                  <a href="{{ip.id}}/delete/" class="btn btn-danger" role="button">Delete</a>
              </td>
            {%endif%}
        </tr>
      {%endfor%}
    </tbody>
</table>

