{%extends "base/base.html"%}

{%block content%}
<h2 class="sub-header">Details of {{vnf.name}}</h2>
<br/>
<h3>Description</h3>
<div class="panel panel-default">
    <div class="panel-body">
        {{vnf.description | linebreaksbr}}<br/>
    </div>
</div>
{% if vnf.file != null%}
<h3>File</h3>
<div class="panel panel-default">
    <div class="panel-body">
        {{vnf.file}}<br/>
    </div>
    </div>
{% endif %}
<h3>Script code</h3>
<div class="panel panel-default">
    <div class="panel-body">
        {{vnf.script | linebreaksbr}}<br/>
    </div>
</div>
{%endblock content%}