{% load bootstrap %}

<style>
    #availiable, #selected {
    float: left;
    width: 45%;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    }
</style>
<script>
    options = []
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));

        if($('#selected').find(document.getElementById(data)).length){
            options.push(document.getElementById(data).id);
            $('#id_libraries option[value=' + document.getElementById(data).id + ']').attr('selected', true);
            $('#id_libraries_order').val(options);
        }
    }

</script>


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Create Network Function</h4>
</div>

<div class="modal-body">
    <form id="form_id" method="POST" action="{% url 'nfs:create' %}" enctype="multipart/form-data">
        {%csrf_token%}
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#info">Information</a></li>
            <li><a data-toggle="tab" href="#dependencies">Dependencies</a></li>
            <li><a data-toggle="tab" href="#function">Function</a></li>
        </ul>
        <div class="tab-content">
            <div id="info" class="tab-pane fade in active">
                <br>
                {{ form.name|bootstrap }}
                {{ form.description|bootstrap }}
            </div>
            <div id="dependencies" class="tab-pane fade">
                <br>
                <div id="availiable" ondrop="drop(event)" ondragover="allowDrop(event)">
                    {% for library in libraries %}
                    <div draggable="true" ondragstart="drag(event)" id="{{library.id}}" width="88" height="31" id=""
                         style="with:100%;background-color:#ddd;text-align:center;padding-top:8px;padding-bottom:8px;margin-top:3px">
                        {{library}}
                    </div>
                    {% endfor %}
                </div>

                <div id="selected" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

                <div style="display:none">
                    {{form.libraries|bootstrap}}
                    {{form.libraries_order|bootstrap}}
                </div>
            </div>
            <div id="function" class="tab-pane fade">
                <br>
                {{form.script|bootstrap}}
            </div>
        </div>
        <input id="submit" type="submit" class="btn btn-default" value="Create NF"/>
    </form>
</div>