<table class="table table-striped">
    <thead>
        <tr>
            <th style="text-align: center;">Name</th>
            <th style="text-align: center;">Longitude</th>
            <th style="text-align: center;">Latitude</th>
            <th style="text-align: center;">Sensibility</th>
            <th style="text-align: center;">Service</th>
            <th style="text-align: center;">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for ue in ues %}
            <tr>
                <td style="text-align: center;vertical-align: middle"><a href='{{ue.get_absolut_url}}'>{{ue.name}}</a></td>
                <td style="text-align: center;vertical-align: middle">{{ue.longitude}}</td>
                <td style="text-align: center;vertical-align: middle">{{ue.latitude}}</td>
                <td style="text-align: center;vertical-align: middle">{{ue.sensibility}} dBm</td>
                <td style="text-align: center;vertical-align: middle">{{ue.service}} bits</td>
                <td style="text-align: center;vertical-align: middle">
                    <a href="{% url 'ues:delete' ue.id %}" class="btn btn-danger" role="button">Delete</a>
                </td>
            </tr>
        {%endfor%}
    </tbody>
</table>

