<div class="menu-list">
    <div id="menu-content" class="menu-content collapse in">
        <div class="col-sm-3 col-md-2 sidebar" style="background-color: #f5f5f5; margin-top: -1px">
          <ul class="nav nav-sidebar">
            <li class="collapsed active" style="background-color: #333">
              <a href="{% url 'operators:home' %}" style="background-color:#f5f5f5;font-size:18px;outline:none;color:black"><i class="glyphicon glyphicon-home"></i> Home <span class="arrow"></span></a>
            </li>
            {% if not user.is_staff %}
            <li  data-toggle="collapse" data-target="#resources" class="collapsed active" style="background-color: #f5f5f5">
                <a href="#" style="background-color:#f5f5f5;font-size:18px;outline:none;color:black"><i
                        class="glyphicon glyphicon-th"></i> Catalog <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu" id="resources">
                <li><a style="color:black;font-size:16px;text-decoration:none;" href="{% url 'nfs:list' %}">NF
                    Catalog</a></li>
                <li><a style="color:black;font-size:16px;text-decoration:none;" href="{% url 'vnfs:list' %}">VNF Catalog</a></li>
            </ul>
            <li  data-toggle="collapse" data-target="#infrastructures" class="collapsed active">
                <a href="#" style="background-color:#f5f5f5;font-size:18px;outline:none;color:black"><i
                        class="glyphicon glyphicon-cloud"></i> Network Services <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu" id="infrastructures">
                <li><a style="color:black;font-size:16px;text-decoration:none;" href="{% url 'bbus:list' %}">UTRAN</a>
                </li>
                <li><a style="color:black;font-size:16px;text-decoration:none;" href="{% url 'epcs:list' %}">vEPC</a>
                </li>
            </ul>
          {% endif %}
          {% if user.is_staff %}
            <li  data-toggle="collapse" data-target="#admin_panel" class="collapsed active">
              <a href="#" style="background-color:#f5f5f5;font-size:18px;outline:none;color:black"><i class="glyphicon glyphicon-user"></i> Admin Panel <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu" id="admin_panel">
                <li><a style="color:black;font-size:16px;text-decoration:none;" href="{% url 'operators:list' %}">Operators</a></li>
                <li><a style="color:black;font-size:16px;text-decoration:none;" href="{% url 'scenarios:list' %}">Scenarios</a></li>
                <li><a style="color:black;font-size:16px;text-decoration:none;" href="{% url 'vims:list' %}">VIMs</a></li>
            </ul>
          </ul>
          {% endif %}
        </div>

    </div>
</div>