<table class="table table-striped">
    <thead>
    <tr>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">Provision</th>
        <th style="text-align: center;">Visibility</th>
        <th style="text-align: center;">Actions</th>
    </tr>
    </thead>
    <tbody>
        {% for script in scripts %}
            <tr>
                <td style="text-align: center;vertical-align: middle"><a href='{{script.get_absolut_url}}'>{{script.name}}</a></td>
                <td style="text-align: center;vertical-align: middle">{{script.type}}</td>
                <td style="text-align: center;vertical-align: middle">{{script.visibility}}</td>
                <td style="text-align: center;vertical-align: middle">
                    {% if script.visibility == "Public" and user.is_staff %}
                        <a onclick="confirmation({{script.id}})" class="btn btn-danger" role="button" data-toggle="modal"
                           data-target="#myModal">Delete</a>
                    {% elif script.visibility == "Private"%}
                        <a onclick="confirmation({{script.id}})" class="btn btn-danger" role="button" data-toggle="modal"
                           data-target="#myModal">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {%endfor%}
    </tbody>
</table>

