<div class="panel panel-default" style="float:left;width:47%;margin-right:15px;margin-bottom:50px">
    <div class="panel-heading">Configuration</div>
    <table class="table">
        <tbody>
        <tr>
            <th>Access Key Id</th>
            <td>{{vim.access_key_id}}</td>
        </tr>
        <tr>
            <th>Session Token</th>
            <td>{{vim.session_token}}</td>
        </tr>
        <tr>
            <th>Keypair Name</th>
            <td>{{vim.keypair_name}}</td>
        </tr>
        </tbody>
    </table>
</div>