<div class="panel panel-default" style="float:left;width:47%;margin-right:15px;margin-bottom:50px">
    <div class="panel-heading">Parameters</div>
    <table class="table">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{vim.name}}</td>
        </tr>
        <tr>
            <th>IP Address</th>
            <td>{{vim.ip}}</td>
        </tr>
        <tr>
            <th>Longitude</th>
            <td>{{vim.longitude}}</td>
        </tr>
        <tr>
            <th>Latitude</th>
            <td>{{vim.latitude}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel panel-default" style="float:left;width:47%;margin-right:15px;margin-bottom:50px">
    <div class="panel-heading">Configuration</div>
    <table class="table">
        <tbody>
        <tr>
            <th>Username</th>
            <td>{{vim.username}}</td>
        </tr>
        <tr>
            <th>Project Domain</th>
            <td>{{vim.project_domain}}</td>
        </tr>
        <tr>
            <th>Project Name</th>
            <td>{{vim.project}}</td>
        </tr>
        <tr>
            <th>Public Network</th>
            <td>{{vim.public_network}}</td>
        </tr>
        </tbody>
    </table>
</div>