<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
          <th>IP</th>
          <th>First Band (1,5MHz)</th>
          <th>Second Band (3MHz)</th>
          <th>Third Band (5MHz)</th>
          <th>Maximum Power supply</th>
        </tr>
        </thead>
        <tbody>
            {% for rrh in rrhs %}
                <tr>
                  <td>{{rrh.ip}}</td>
                  <td>{{rrh.first_band}}</td>
                  <td>{{rrh.second_band}}</td>
                  <td>{{rrh.third_band}}</td>
                  <td>{{rrh.pt}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>