{% load bootstrap %}


<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">Create VNF</h4>
</div>

<div class="modal-body">
	<form id="form_id" method="POST" action="{% url 'vnfs:create' %}" enctype="multipart/form-data">
		{%csrf_token%}
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#info">Information</a></li>
            <li><a data-toggle="tab" href="#hardware">Hardware</a></li>
            <li><a data-toggle="tab" href="#hpc">HPC</a></li>
			<li><a data-toggle="tab" href="#function">Function</a></li>
		</ul>
		<div class="tab-content">
			<div id="info" class="tab-pane fade in active">
			  	<br>
			  	{{ form.name|bootstrap }}
			  	{{ form.description|bootstrap }}
            </div>
            <div id="hardware" class="tab-pane fade">
                <br>
                <div>
                    <div style="float:left;width:15%;margin-top:30px"><strong>CPU cores</strong></div>
                    <div style="float:left;margin-right:10px">{{ form.min_cpu|bootstrap }}</div>
                    <div style="float:left;margin-right:10px">{{ form.max_cpu|bootstrap }}</div>
                </div>
                <div>
                    <div style="float:left;width:15%;margin-top:30px"><strong>RAM</strong></div>
                    <div style="float:left;margin-right:10px">{{ form.min_ram|bootstrap }}</div>
                    <div style="float:left;margin-right:10px">{{ form.max_ram|bootstrap }}</div>
                    <div style="float:left;margin-left:10px;margin-top:30px"><strong>MB</strong></div>
                </div>
                {{form.disc|bootstrap}}
                {{form.nics|bootstrap}}
                <br>
                {{ form.real_time|bootstrap }}
            </div>
            <div id="hpc" class="tab-pane fade">
                <br>

            </div>
			<div id="function" class="tab-pane fade">
				<br>
				{{form.image|bootstrap}}
				{{form.nf|bootstrap}}
			</div>
		</div>
        <input type="submit" class="btn btn-default" value="Create"/>
	</form>
</div>