<div class="panel panel-default" style="float:left;width:47%;margin-right:15px;margin-bottom:50px">
    <div class="panel-heading">Configuration</div>
    <table class="table">
        <tbody>
            <tr>
                <th>Project Id</th>
                <td>{{vim.google_project_id}}</td>
            </tr>
            <tr>
                <th>Client Email</th>
                <td>{{vim.google_client_email}}</td>
            </tr>
            <tr>
                <th>Key Location</th>
                <td><a href="{{vim.google_json_key_location.url}}" download>Download</a></td>
            </tr>
        </tbody>
    </table>
</div>