{% load staticfiles %}

<script>
    $( document ).ready(function() {
        if("{{NVFI.status}}"=='Working-launch'){
            var check = setInterval(function() {
                    $.ajax({
                        type: "GET",
                        url: "{% url 'ns:state' id=NVFI.id %}",
                        success: function(response) {
                            if (response == "True"){
                                $('#status-{{NVFI.id}}').html('Running');
                                clearInterval(check);
                            }
                        },
                    });
            }, 5000);
        }

        else if("{{NVFI.status}}"=='Working-shutdown'){
             var check = setInterval(function() {
                    $.ajax({
                        type: "GET",
                        url: "{% url 'ns:state' id=NVFI.id %}",
                        success: function(response) {
                            if (response == "True"){
                                $('#status-{{NVFI.id}}').html('Shut Down');
                                clearInterval(check);
                            }
                        },
                    });
             }, 5000);
        }
        else{
            console.log("nothing");
        }

    });

</script>

<script>
    $(function() {

        var state = 0;
        var interval = null;

        $("#nvfi-{{NVFI.id}}").click(function(){
            if($("#nvfi-{{NVFI.id}}").text()=='Launch'){
                $("#nvfi-{{NVFI.id}}").text('Shut Down');
                $('#status-{{NVFI.id}}').html('<p style="margin-bottom:0px">Launching</p><img style="clear:left;margin-top:-3px" width="75px" height="25px" src="{% static 'base/images/charging.gif' %}">');

                $.ajax({
                    type: "GET",
                    url: "{% url 'pools:launch' id=NVFI.id %}",
                    success: function(response) {
                    },
                });

                var check = setInterval(function() {
                    $.ajax({
                        type: "GET",
                        url: "{% url 'ns:state' id=NVFI.id %}",
                        success: function(response) {
                            if (response == "True"){
                                $('#status-{{NVFI.id}}').html('<div style="display:inline-block;""><div style="background-color: green;height: 20px;width: 20px;border-radius: 50% 50% 50% 50%;float: left;margin-left: 20px"></div><div style="float:left;margin-left: 5px">Running</div></div>');
                                clearInterval(check);
                            }
                        },
                    });
                }, 5000);

            }

            else if($('#nvfi-{{NVFI.id}}').text()=='Shut Down'){
                $("#nvfi-{{NVFI.id}}").text('Launch');
                $('#status-{{NVFI.id}}').html('<p style="margin-bottom:0px">Deleting</p><img style="clear:left;margin-top:-3px" width="75px" height="25px" src="{% static 'base/images/charging.gif' %}">');

                $.ajax({
                    type: "GET",
                    url: "{% url 'pools:shut_down' id=NVFI.id %}",
                    success: function(response) {
                    },
                });

                var check = setInterval(function() {
                    $.ajax({
                        type: "GET",
                        url: "{% url 'ns:state' id=NVFI.id %}",
                        success: function(response) {
                            if (response == "True"){
                                $('#status-{{NVFI.id}}').html('<div style="display:inline-block;""><div style="background-color: red;height: 20px;width: 20px;border-radius: 50% 50% 50% 50%;float: left;margin-left: 20px"></div><div style="float:left;margin-left: 5px">Shut Down</div></div>');
                                clearInterval(check);
                            }
                        },
                    });
                }, 5000);

            }
            else{
                alert($('#status-{{NVFI.id}}').text());
            }
        });
    });
</script>




