{%extends "base/base.html"%}
{% load staticfiles %}

{% block head %}
<script src="{% static 'base/js/jquery.flotgraph.js' %}" xmlns="http://www.w3.org/1999/html"></script>
<link href="{% static 'base/css/flot.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'base/css/jquery.flowchart.min.css' %}" rel="stylesheet" type="text/css">
{% endblock head %}

{% block content %}
<h1>Details of {{epc.name}}</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'epcs:list' %}">EPC</a></li>
    <li class="active">{{epc.name}}</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">VNF Forwarding Graph</div>
    <div class="demo" id="example"
         style="border: 2px solid #d0d0d0;width: 100%;height: 200px;margin-bottom: 50px;float: left;"></div>
</div>

<h2 class="sub-header">List of Elements</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">Price</th>
        <th style="text-align: center;">Cost</th>
        <th style="text-align: center;">Status</th>
        <th style="text-align: center;">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="text-align: center;vertical-align: middle"><a href='#'>MME</a></td>
        <td style="text-align: center;vertical-align: middle">123</td>
        <td style="text-align: center;vertical-align: middle">2/h</td>
        <td style="text-align: center;vertical-align: middle">444 $</td>
        <td style="text-align: center;vertical-align: middle">aaa</td>
    </tr>
    <tr>
        <td style="text-align: center;vertical-align: middle"><a href='#'>HSS</a></td>
        <td style="text-align: center;vertical-align: middle">123</td>
        <td style="text-align: center;vertical-align: middle">2/h</td>
        <td style="text-align: center;vertical-align: middle">444 $</td>
        <td style="text-align: center;vertical-align: middle">aaa</td>
    </tr>
    <tr>
        <td style="text-align: center;vertical-align: middle"><a href='#'>S-GW</a></td>
        <td style="text-align: center;vertical-align: middle">123</td>
        <td style="text-align: center;vertical-align: middle">2/h</td>
        <td style="text-align: center;vertical-align: middle">444 $</td>
        <td style="text-align: center;vertical-align: middle">aaa</td>
    </tr>
    <tr>
        <td style="text-align: center;vertical-align: middle"><a href='#'>P-GW</a></td>
        <td style="text-align: center;vertical-align: middle">123</td>
        <td style="text-align: center;vertical-align: middle">2/h</td>
        <td style="text-align: center;vertical-align: middle">444 $</td>
        <td style="text-align: center;vertical-align: middle">aaa</td>
    </tr>
    </tbody>
</table>

<script src="http://code.jquery.com/jquery-1.12.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="{% static 'base/js/jquery.flowchart.js' %}"></script>


{% endblock content %}

{% block javascript %}
<script type="text/javascript">
        $(document).ready(function() {
            $(document).ready(function() {
    var data = {
  "operators": {
    "created_operator_0": {
      "top": 20,
      "left": 120,
      "properties": {
        "title": "MME",
        "inputs": {},
        "outputs": {
          "output_1": {
            "label": "Output 1"
          },
          "output_2": {
            "label": "Output 2"
          }
        }
      }
    },
    "created_operator_1": {
      "top": 100,
      "left": 340,
      "properties": {
        "title": "S-GW",
        "inputs": {
          "input_1": {
            "label": "Input 1"
          }
        },
        "outputs": {
          "output_1": {
            "label": "Output 1"
          }
        }
      }
    },
    "created_operator_2": {
      "top": 100,
      "left": 540,
      "properties": {
        "title": "P-GW",
        "inputs": {
          "input_1": {
            "label": "Input 1"
          }
        },
        "outputs": {}
      }
    },
    "created_operator_3": {
      "top": 20,
      "left": 340,
      "properties": {
        "title": "HSS",
        "inputs": {
          "input_1": {
            "label": "Input 1"
          }
        },
        "outputs": {}
      }
    }
  },
  "links": {
    "4": {
      "fromOperator": "created_operator_0",
      "fromConnector": "output_1",
      "fromSubConnector": 0,
      "toOperator": "created_operator_3",
      "toConnector": "input_1",
      "toSubConnector": 0
    },
    "5": {
      "fromOperator": "created_operator_0",
      "fromConnector": "output_2",
      "fromSubConnector": 0,
      "toOperator": "created_operator_1",
      "toConnector": "input_1",
      "toSubConnector": 0
    },
    "6": {
      "fromOperator": "created_operator_1",
      "fromConnector": "output_1",
      "fromSubConnector": 0,
      "toOperator": "created_operator_2",
      "toConnector": "input_1",
      "toSubConnector": 0
    }
  },
  "operatorTypes": {}
}

    // Apply the plugin on a standard, empty div...
    $('#example').flowchart({data: data});
  });
        });

</script>
{% endblock javascript %}