{%extends "base/base.html"%}

{%block content%}
	<h2 class="sub-header">Details of {{vnf.name}}</h2>
	<br/>
	<h3>Description</h3>
	<div class="panel panel-default">
		<div class="panel-body">
			{{vnf.description | linebreaksbr}}<br/>
		</div>
	</div>
	<h3>Image name</h3>
	<div class="panel panel-default">
		<div class="panel-body">
			{{vnf.image}}<br/>
		</div>
	</div>
<h3>Requeriments</h3>
	<div class="panel panel-default">
		<div class="panel-body">
            Num. CPU cores: {{vnf.cpu | linebreaksbr}}<br/>
            Ram Memory: {{vnf.ram | linebreaksbr}} MB<br/>
			Disc space: {{vnf.disk | linebreaksbr}} GB<br/>
		</div>
	</div>
<h3>Network Functions</h3>
	<div class="panel panel-default">
		<div class="panel-body">
            {{vnf.nf}}<br/>
		</div>
	</div>
{%endblock content%}