{% load bootstrap %}


<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">Create VNF</h4>
</div>

<div class="modal-body">
	<form id="form_id" method="POST" action="{% url 'vnfs:create' %}" enctype="multipart/form-data">
		{%csrf_token%}
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#info">Information</a></li>
			<li><a data-toggle="tab" href="#requeriments">Requeriments</a></li>
			<li><a data-toggle="tab" href="#function">Function</a></li>
		</ul>
		<div class="tab-content">
			<div id="info" class="tab-pane fade in active">
			  	<br>
			  	{{ form.name|bootstrap }}
			  	{{ form.description|bootstrap }}
			</div>
			<div id="requeriments" class="tab-pane fade">
				<br>
				{{form.image|bootstrap}}
				{{form.cpu|bootstrap}}
				{{form.ram|bootstrap}}
				{{form.disk|bootstrap}}
			</div>
			<div id="function" class="tab-pane fade">
				<br>
				{{form.nf|bootstrap}}
			</div>
		</div>
		<input type="submit" class="btn btn-default" value="Create VNF"/>
	</form>
</div>