{% extends "base/base.html" %}
{% load staticfiles %}

{% block head %}{% endblock head%}

{% block content%}
    <div style="position: relative;" id="content"></div>
	<h2 class="sub-header">Catalog of VNFs</h2>
    {% include "partials/vnfs/vnfs.html" %}
    {% include "base/partials/paginator.html" %}
    </br>
    <a id="submit" onclick="loader()" class="btn btn-default" role="button" data-toggle="modal" data-target="#myModal">Create VNF</a>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock content %}

{%block javascript %}
    {% include "partials/vnfs/loader-ajax.html" %}
{%endblock javascript %}
