{%extends "base/base.html"%}

{%block content%}
	<h2 class="sub-header">Details of {{ue.name}}</h2>
	<br/>
	<div class="tab-content">
        <div id="pools" class="tab-pane fade in active">
            <br>
            <div class="panel panel-default" style="">
                <div class="panel-heading">Parameters</div>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>UUID</th>
                        <td>{{ue.uuid}}</td>
                    </tr>
                    <tr>
                        <th>Longitud</th>
                        <td>{{ue.longitude}}</td>
                    </tr>
                    <tr>
                        <th>Latitude</th>
                        <td>{{ue.latitude}}</td>
                    </tr>
                    <tr>
                        <th>Sensibility</th>
                        <td>{{ue.sensibility}}</td>
                    </tr>
                    <tr>
                        <th>Service</th>
                        <td>{{ue.service}}</td>
                    </tr>
                    <tr>
                        <th>Attached to:</th>
                        <td><a>{{ue.attached_to.uuid}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <a id="submit" href="{% url 'ues:attach_to' id=ue.id %}" class="btn btn-default" role="button" data-toggle="modal" data-target="#myModal">Connect to</a>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		    <div class="modal-content"></div>
		</div>
	</div>
        

{%endblock content%}