{%extends "base/base.html"%}

{%block content%}
	<h2 class="sub-header">Details of {{script.name}}</h2>
	<br/>

	<div class="panel panel-default" style="">
        <div class="panel-heading">Information</div>
        <table class="table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{script.name}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{script.type}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Visibility</th>
                    <td>{{script.visibility}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <br/>

	{% if script.description == None %}
		<h3>Description</h3>
		<div class="panel panel-default">
			<div class="panel-body">
	            {{script.description | linebreaksbr}}<br/>
			</div>
		</div>
	{% endif %}

	{% if script.check_file == True %}
		<h3>File</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<a href="{{script.file.url}}" download>Download source code</a>
				<br/>
			</div>
		</div>
	{% endif %}

	{% if script.script != "" %}
		<h3>Source Code</h3>
		<div class="panel panel-default">
			<div class="panel-body">{{script.script | linebreaksbr}}</div>
		</div>
	{% endif %}
{%endblock content%}