{%extends "base/base.html"%}

{%block content%}
    <h2 class="sub-header">{{vim.name}}</h2>

    <ol class="breadcrumb">
        <li><a href="{% url 'vims:list' %}">VIM</a></li>
        <li class="active">{{vim.name}}</li>
    </ol>

    <h3>Details</h3>
    {% include "partials/vims/details.html" %}

    <h3>Compute Nodes</h3>
    {% include "partials/vims/nodes.html" %}
    {% include "base/partials/paginator.html" with object_list=devices %}
    <br>
    <a class="btn btn-default" role="button">Update</a>

    <h3>PCI Passthough Devices</h3>
    {% include "partials/vims/devices.html" %}
    {% include "base/partials/paginator.html" with object_list=devices %}
    <br>
    <a id="submit" onclick="loader_device({{vim.id}})" class="btn btn-default" role="button" data-toggle="modal"
       data-target="#myModal">Register</a>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
{%endblock content%}

{%block javascript%}
    {% include "partials/vims/javascript/loader-ajax.html"%}
{%endblock javascript%}