{%extends "base/base.html"%}

{%block content%}
    <h2 class="sub-header">{{vim.name}}</h2>

    <ol class="breadcrumb">
        <li><a href="{% url 'vims:list' %}">VIM</a></li>
        <li class="active">{{vim.name}}</li>
    </ol>

    <h3>Details</h3>
    <div class="panel panel-default" style="float:left;width:47%;margin-right:15px;margin-bottom:50px">
        <div class="panel-heading">Parameters</div>
        <table class="table">
            <tbody>
            <tr>
                <th>Name</th>
                <td>{{vim.name}}</td>
            </tr>
            <tr>
                <th>IP Address</th>
                <td>{{vim.ip}}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{vim.longitude}}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{vim.latitude}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel panel-default" style="float:left;width:47%;margin-right:15px;margin-bottom:50px">
        <div class="panel-heading">Configuration</div>
        <table class="table">
            <tbody>
            <tr>
                <th>Username</th>
                <td>{{vim.username}}</td>
            </tr>
            <tr>
                <th>Project Domain</th>
                <td>{{vim.project_domain}}</td>
            </tr>
            <tr>
                <th>Project Name</th>
                <td>{{vim.project}}</td>
            </tr>
            <tr>
                <th>Public Network</th>
                <td>{{vim.public_network}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="list" class="tab-pane fade in active">
        <h3>Public IPs</h3>
        <br>
        {% include "partials/vims/ips.html" %}
        <br>

        <a id="submit" href="{% url 'vims:create' %}" class="btn btn-default" role="button" data-toggle="modal" data-target="#myModal">Register</a>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
            </div>
        </div>
    </div>
    
{%endblock content%}

{%block javascript%}{%endblock javascript%}