<table class="table table-striped">
    <thead>
    <tr>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">Num. Infra</th>
        <th style="text-align: center;">Num. Active Infra</th>
        <th style="text-align: center;">Price</th>
        <th style="text-align: center;">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for scenario in object_list %}
    <tr>
        <td style="text-align: center;vertical-align: middle"><a href="{% url 'utrans:info' scenario.id %}">{{scenario.name}}</a></td>
        <td style="text-align: center;vertical-align: middle">{{scenario.get_infrastructure}}</td>
        <td style="text-align: center;vertical-align: middle">{{scenario.get_active_infrastructures}}</td>
        <td style="text-align: center;vertical-align: middle">{{scenario.price}} $</td>
        <td style="text-align: center;vertical-align: middle">
            <a href="{% url 'utrans:info' scenario.id %}" class="btn btn-default" role="button">Scenario specifications</a>
        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>

