<table class="table table-striped">
    <thead>
    <tr>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">MGMT IP</th>
        <th style="text-align: center;">SINR</th>
        <th style="text-align: center;">Delay</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="text-align: center;vertical-align: middle">{{bbu.canal}}</td>
        <td style="text-align: center;vertical-align: middle">{{bbu.canal.mgmt_ip}}</td>
        <td style="text-align: center;vertical-align: middle">{{bbu.canal.sinr}}</td>
        <td style="text-align: center;vertical-align: middle">{{bbu.canal.delay}}</td>
    </tr>
    </tbody>
</table>


