{% extends "base/base.html" %}

{% block content%}
	<h2 class="sub-header"><i class="fa fa-globe" aria-hidden="true"></i> Scenarios</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for scenario in object_list %}
                        <tr>
                          <td><a href='{{scenario.get_absolut_url}}'>{{scenario.name}}</a></td>
                          <td>{{scenario.description}}</td>
                          <td>{{scenario.latitude}}</td>
                          <td>{{scenario.longitude}}</td>
                          <td><a href="{{scenario.id}}/delete/" class="btn btn-danger" role="button">Delete</a></td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        {% include "base/partials/paginator.html" %}
        <br>
        <a id="submit" href="{% url 'scenarios:create' %}" class="btn btn-default" role="button" data-toggle="modal" data-target="#myModal">Create</a>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
            </div>
        </div>
{% endblock content %}

{% block javascript %}{% endblock javascript %}