{%extends "base/base.html"%}

{% block head %}
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyB05V_zAdTZtLZkFTGC17QHXMXs3w6rcSI" async="" defer="defer" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
{% endblock head%}

{%block content%}
    <h1 class="page-header">{{scenario.name}}</h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'scenarios:scenarios' %}">Scenarios</a></li>
        <li class="active">{{scenario.name}}</li>
    </ol>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#pools" onclick="none()">Pool</a></li>
        <li><a data-toggle="tab" href="#users" onclick="none()">Users</a></li>
        <li><a data-toggle="tab" href="#localization" onclick="localization()" >Map</a></li>
        <li><a data-toggle="tab" href="#schedulers" onclick="none()">Schedulers</a></li>
        <li><a data-toggle="tab" href="#alerts" onclick="none()">Alerts</a></li>
    </ul>

    <div class="tab-content">
        <div id="localization" class="tab-pane fade">
            <br>
            <div id="map-canvas" style="width:auto;height:400px;"></div>
        </div>

        <div id="users" class="tab-pane fade">
            <br>
            <h2 class="sub-header">Users Equipment</h2>
            {% include "scenarios/partials/ues.html" %}
            {% include "base/partials/paginator.html" with object_list=ues %}
            <br>
            <a href="{% url 'ues:create' id=scenario.id %}" class="btn btn-default" role="button" data-toggle="modal" data-target="#user">Add</a>

            <div class="modal fade" id="user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content"></div>
                </div>
            </div>
        </div>

        <div id="pools" class="tab-pane fade in active">
            <br>
            <h2 class="sub-header">BaseBand Unit Pool</h2>
            {% include "scenarios/partials/pools.html" %}
            {% include "base/partials/paginator.html" with object_list=pools %}
            <br>
            <a href="{% url 'pools:create' id=scenario.id %}" class="btn btn-default" role="button" data-toggle="modal" data-target="#pool">Add</a>

            <div class="modal fade" id="pool" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content"></div>
                </div>
            </div>
        </div>

        <div id="schedulers" class="tab-pane fade">
            <br>
            <h2 class="sub-header">Schedulers</h2>
            {% include "scenarios/partials/schedulers.html" %}
            {% include "base/partials/paginator.html" with object_list=schedulers %}
            <br>
            <a href="{% url 'scenarios:scheduler' id=scenario.id %}" class="btn btn-default" role="button" data-toggle="modal" data-target="#scheduler">Add</a>

            <div class="modal fade" id="scheduler" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content"></div>
                </div>
            </div>
        </div>

        <div id="alerts" class="tab-pane fade">
            <br>
            <h2 class="sub-header">Alerts</h2>
            {% include "scenarios/partials/alerts.html" %}
            {% include "base/partials/paginator.html" with object_list=alerts %}
            <br>
            <a href="{% url 'scenarios:alert' id=scenario.id %}" class="btn btn-default" role="button" data-toggle="modal" data-target="#alert">Add</a>

            <div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content"></div>
                </div>
            </div>
        </div>
    </div>
{%endblock content%}

{%block javascript%}
    {% include "scenarios/partials/map.html" %}
{%endblock javascript%}