<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="text-align: center;">Name</th>
                <th style="text-align: center;">MGMT IP</th>
                <th style="text-align: center;">Power transmistted (dBm)</th>
                <th style="text-align: center;">Central frequency (Hz)</th>
                <th style="text-align: center;">Bandwidth (Hz)</th>
            </tr>
        </thead>
        <tbody>
            {% for bbu in bbus %}
                <tr>
                    <td style="text-align: center;vertical-align: middle"><a href='{{bbu.get_absolut_url}}'>{{bbu}}</a></td>
                    <td style="text-align: center;vertical-align: middle">{{bbu.mgmt_ip}}</td>
                    <td style="text-align: center;vertical-align: middle">{{bbu.pt}}</td>
                    <td style="text-align: center;vertical-align: middle">{{bbu.freC_DL}}</td>
                    <td style="text-align: center;vertical-align: middle">{{bbu.bw_dl}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>