{% load staticfiles %}

<table class="table table-striped">
    <thead>
        <tr>
            <th style="text-align: center;">Name</th>
            <th style="text-align: center;">Rb offer</th>
            <th style="text-align: center;">Price</th>
            <th style="text-align: center;">Cost</th>
            <th style="text-align: center;">Status</th>
            <th style="text-align: center;">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for NVFI in pools %}
        <tr>
            <td style="text-align: center;vertical-align: middle"><a href='{{NVFI.get_absolut_url}}'>{{NVFI.name}}</a></td>
            <td style="text-align: center;vertical-align: middle">{{NVFI.rb_offer}}</td>
            <td style="text-align: center;vertical-align: middle">{{NVFI.price}}/h</td>
            <td style="text-align: center;vertical-align: middle">{{NVFI.cost}} $</td>
            <td id="status-{{NVFI.id}}" style="text-align: center;vertical-align: middle">{% if NVFI.status == "Running" %}Running{% elif NVFI.status == "Shut Down"%}Shut Down{% elif NVFI.status == "Working-launch"%}<p style="margin-bottom:0px">Launching</p><img style="clear:left;margin-top:-3px" width="75px" height="25px" src="{% static 'base/images/charging.gif' %}">{% elif NVFI.status == "Working-shutdown"%}<p
                    style="margin-bottom:0px">Deleting</p><img style="clear:left;margin-top:-3px" width="75px" height="25px" src="{% static 'base/images/charging.gif' %}">{% endif %}
            </td>
            <td style="text-align: center;vertical-align: middle">
                <button type="button" style="display:inline-block;" id="nvfi-{{NVFI.id}}" data-loading-text="Working..." class="btn btn-default">{% if NVFI.status == "Running" %}Shut Down{% elif NVFI.status == "Shut Down"%}Launch{% elif NVFI.status == "Working-launch"%}Shut Down{% elif NVFI.status == "Working-shutdown"%}Launch{% endif %}</button>
                <div class="dropdown" style="display:inline-block;">
                    <button id="dropdown-{{NVFI.id}}" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{{NVFI.get_absolut_url}}">Details</a></li>
                        <li><a style="color:red" href="{% url 'pools:delete' NVFI.id %}">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% include "pools/javascript/launch-shutdown.html" %}
    {%endfor%}
    </tbody>
</table>


