{% load staticfiles %}

<script>
    $(function() {

        var state = 0;
        var interval = null;

        $("#nvfi-{{NVFI.id}}").click(function(){
            if($("#status-{{NVFI.id}}").text()=='Shut Down'){
                $('#nvfi-{{NVFI.id}}').button({loadingText: 'Launching...'});
                $("#nvfi-{{NVFI.id}}").button('loading');
                $('#status-{{NVFI.id}}').html('<p style="margin-bottom:0px">Launching</p><img style="clear:left;margin-top:-3px" width="75px" height="25px" src="{% static 'base/images/charging.gif' %}">');

                $.ajax({
                    type: "GET",
                    url: "/utrans/"+{{NVFI.id}}+"/launch/",
                    success: function(response) {
                        $('#status-{{NVFI.id}}').html('Running');
                        $("#nvfi-{{NVFI.id}}").button('reset');
                        $('#nvfi-{{NVFI.id}}').html('Shut Down');
                    },
                });
            }

            else if($('#status-{{NVFI.id}}').text()=='Running'){
                $('#nvfi-{{NVFI.id}}').button({loadingText: 'Shutting Down...'});
                $("#nvfi-{{NVFI.id}}").button('loading');
                $('#status-{{NVFI.id}}').html('<p style="margin-bottom:0px">Deleting</p><img style="clear:left;margin-top:-3px" width="75px" height="25px" src="{% static 'base/images/charging.gif' %}">');


                $.ajax({
                    type: "GET",
                    url: "/utrans/"+{{NVFI.id}}+"/shut_down/",
                    success: function(response) {
                        $('#status-{{NVFI.id}}').html('Shut Down');
                        $("#nvfi-{{NVFI.id}}").button('reset');
                        $('#nvfi-{{NVFI.id}}').html('Launch');
                    },
                });

            }
            else{
                alert($('#status-{{NVFI.id}}').text());
            }
        });
    });
</script>