{%extends "base/base.html"%}

{% block head %}
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
{% endblock head%}

{%block content%}
	<h1>Details of {{scenario.name}}</h1>
	<br>
	<ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#rrhs">RRHs</a></li>
    </ul>

    <div id="rrhs" class="tab-pane fade in active">
        <br>
        {% include "scenarios/partials/rrhs.html" %}
    </div>
{%endblock content%}

{%block javascript %}{%endblock javascript %}