{% extends "base/base.html" %}

{% block content%}
	<h2 class="sub-header">List of available Scenarios</h2>
        {% include "partials/scenarios.html" %}
        {% include "base/partials/paginator.html" %}
        <br>
    <a id="submit" onclick="loader()" class="btn btn-default" role="button" data-toggle="modal" data-target="#myModal">Create Scenario</a>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    {% include "partials/scenarios/loader-ajax.html"%}
{% endblock javascript %}