{%extends "base/base.html"%}

{% block head %}
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js'></script>
{% endblock head%}

{%block content%}
    <h2 class="sub-header">Evolved Packet Core Pool</h2>
    {% include "partials/epcs/epc.html" %}

    <a id="epc" onclick="epc()" class="btn btn-default" role="button" data-toggle="modal" data-target="#myModal">Add EPC</a>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
    <a href="{% url 'epcs:gui' %}" class="btn btn-default" role="button">GUI</a>
{%endblock content%}

{%block javascript%}
    {% include "partials/epcs/javascript/loader-ajax.html" %}
    {% include "partials/epcs/javascript/launch-shutdown.html" %}
{%endblock javascript%}