<div class="panel panel-default" style="float:left;width:47%;margin-right:15px;margin-bottom:50px">
    <div class="panel-heading">Configuration</div>
    <table class="table">
        <tbody>
            <tr>
                <th>Client Id</th>
                <td>{{vim.client_id}}</td>
            </tr>
            <tr>
                <th>Tenant Id</th>
                <td>{{vim.tenant_id}}</td>
            </tr>
            <tr>
                <th>Subscription Id</th>
                <td>{{vim.subscription_id}}</td>
            </tr>
        </tbody>
    </table>
</div>