<table class="table table-striped">
    <thead>
    <tr>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">Node</th>
        <th style="text-align: center;">Product ID</th>
        <th style="text-align: center;">Vendor ID</th>
        <th style="text-align: center;">Assigned</th>
        <th style="text-align: center;">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for device in vim.get_devices %}
    <tr>
        <td style="text-align: center;vertical-align: middle">{{device.name}}</td>
        <td style="text-align: center;vertical-align: middle">{{device.node}}</td>
        <td style="text-align: center;vertical-align: middle">{{device.product_id}}</td>
        <td style="text-align: center;vertical-align: middle">{{device.vendor_id}}</td>
        <td style="text-align: center;vertical-align: middle">{{device.is_assigned}}</td>
        <td style="text-align: center;vertical-align: middle">
            <a href="deldevice/{{device.id}}/" class="btn btn-danger" role="button">Delete</a>
        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>

