{% extends "base/base.html" %}
{% load staticfiles %}


{% block head %}{% endblock head%}

{% block content%}
<div style="position: relative;" id="content"></div>
<h2 class="sub-header"><i class="glyphicon glyphicon-home"></i> Overview</h2>

<ol class="breadcrumb">
    <li>Overview</li>
</ol>

{% if user.is_staff != True %}
<br><br>
<div class="panel panel-default">
    <div class="panel-heading">Configuration</div>
    <table class="table">
        <tbody>
        <tr>
            <th>Email</th>
            <td>{{operator.email}}</td>
        </tr>
        </tbody>
    </table>
</div>
<br>
{% endif %}
<div>
    <div style="float:left;margin-left:20px;width:30%" class="panel panel-default">
        <div style="height:130px" class="panel-body">
            <br>
            <i style="float:left;font-size: 80px" class="glyphicon glyphicon-filter"></i>
            <div style="float:left;margin-left:20px">
                <p>Running: 0</p>
                <p>Saved: 10</p>
            </div>
            </div>
        <div style="text-align:center;font-weight:bold;" class="panel-footer">BaseBand Pools
        </div>
        </div>
    <div style="float:left;margin-left:20px;width:30%" class="panel panel-default">
        <div style="height:130px" class="panel-body">
            <br>
            <i style="float:left;font-size: 80px" class="glyphicon glyphicon-cloud"></i>
            <div style="float:left;margin-left:20px">
                <p>Running: 0</p>
                <p>Saved: 10</p>
            </div>
            </div>
        <div style="text-align:center;font-weight:bold;" class="panel-footer">Virtual Evolved Packet Core</div>
        </div>
    <div style="float:left;margin-left:20px;width:30%" class="panel panel-default">
        <div style="height:130px" class="panel-body">
            <br>
            <i style="float:left;font-size: 80px" class="glyphicon glyphicon-signal"></i>
            <div style="float:left;margin-left:20px">
                <p>BW First band: 0 MHz</p>
                <p>BW Second band: 0 MHz</p>
                <p>BW Third band: 0 MHz</p>
            </div>
            </div>
        <div style="text-align:center;font-weight:bold;" class="panel-footer">Spectrum</div>
        </div>
    </div>
</div>
{% endblock %}