<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="text-align: center;">Name</th>
            <th style="text-align: center;">Power transmistted carrier (dBm)</th>
            <th style="text-align: center;">Central frequency (Hz) DL</th>
            <th style="text-align: center;">Bandwidth (Hz) DL</th>
            <th style="text-align: center;">Central frequency (Hz) UL</th>
            <th style="text-align: center;">Bandwidth (Hz) UL</th>
            <th style="text-align: center;">Number of users</th>
        </tr>
        </thead>
        <tbody>
        {% for nvf in object_list %}
        <tr>
            <td style="text-align: center;vertical-align: middle"><a href='{{nvf.get_absolut_url}}'>{{nvf}}</a></td>
            <td style="text-align: center;vertical-align: middle">{{nvf.pt}}</td>
            <td style="text-align: center;vertical-align: middle">{{nvf.freC_DL}}</td>
            <td style="text-align: center;vertical-align: middle">{{nvf.bw_dl}}</td>
            <td style="text-align: center;vertical-align: middle">{{nvf.freC_UL}}</td>
            <td style="text-align: center;vertical-align: middle">{{nvf.bw_ul}}</td>
            <td style="text-align: center;vertical-align: middle">{{nvf.users}}</td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>