<table class="table table-striped">
    <thead>
    <tr>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">Rb offer</th>
        <th style="text-align: center;">Price</th>
        <th style="text-align: center;">Cost</th>
        <th style="text-align: center;">VIM</th>
        <th style="text-align: center;">Status</th>
        <th style="text-align: center;">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for NVFI in utrans %}
    {% if NVFI.area.name == area.name%}
    <tr>
        <td style="text-align: center;vertical-align: middle"><a href='{{NVFI.get_absolut_url}}'>{{NVFI.name}}</a></td>
        <td style="text-align: center;vertical-align: middle">{{NVFI.rb_offer}}</td>
        <td style="text-align: center;vertical-align: middle">{{NVFI.price}}/h</td>
        <td style="text-align: center;vertical-align: middle">{{NVFI.cost}} $</td>
        <td style="text-align: center;vertical-align: middle">{{NVFI.vim}}</td>
        <td id="status-{{NVFI.id}}" style="text-align: center;vertical-align: middle"><p
                style="clear:left;margin-bottom:0px">{{NVFI.status}}</p></td>
        <td style="text-align: center;vertical-align: middle">
            <button type="button" style="display:inline-block;" id="nvfi-{{NVFI.id}}" data-loading-text="Working..."
                    class="btn btn-default">{% if NVFI.status == "Running" %}Shut Down{% elif NVFI.status == "Shut
                Down"%}Launch{% endif %}
            </button>
            <div class="dropdown" style="display:inline-block;">
                <button id="dropdown-{{NVFI.id}}" class="btn btn-default dropdown-toggle" type="button"
                        data-toggle="dropdown" data-loading-text="">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{{NVFI.get_absolut_url}}">Details</a></li>
                    <li><a href="{% url 'ns:template' %}">Template</a></li>
                    <li><a style="color:red" href="{% url 'bbus:delete' NVFI.id %}">Delete</a></li>
                </ul>
            </div>
        </td>
    </tr>

    <script>
                      $(document).ready(function(){
                        var value = "{{NVFI.status}}";

                        if(value == "Shut Down") {
                            console.log("shutdown");
                            $('#nvfi-{{NVFI.id}}').button('reset');
                        }
                        else if(value == "Running") {
                            console.log("running");
                            $('#nvfi-{{NVFI.id}}').button('reset');
                        }
                        else {
                            $('#nvfi-{{NVFI.id}}').button('loading');
                            $('#dropdown-{{NVFI.id}}').button('loading');
                        }
                      });


    </script>
    {% endif %}
    {% include "partials/utrans/javascript/launch-shutdown.html" %}
    {%endfor%}
    </tbody>
</table>


