<table class="table table-striped">
    <thead>
    <tr>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">SINR</th>
        <th style="text-align: center;">Delay</th>
        <th style="text-align: center;">Price</th>
        <th style="text-align: center;">Cost</th>
    </tr>
    </thead>
    <tbody>
    {% for channel in utrans %}
    <tr>
        <td style="text-align: center;vertical-align: middle"><a href='{{channel.get_absolut_url}}'>{{channel.name}}</a>
        </td>
        <td style="text-align: center;vertical-align: middle">12 dB</td>
        <td style="text-align: center;vertical-align: middle"> 1 ms</td>
        <td style="text-align: center;vertical-align: middle">{{channel.price}}/h</td>
        <td style="text-align: center;vertical-align: middle">{{channel.cost}} $</td>
    </tr>
    {% include "partials/utrans/javascript/launch-shutdown.html" %}
    {%endfor%}
    </tbody>
</table>


