<script>
    function loader() {
        $('.modal-content').html('<div style="width:180px;height:180px;margin:0 auto;text-align:center;margin-top:50px;margin-bottom:50px"><div class="loader"></div></div>');

        $.ajax({
            type: "GET",
            url: "{% url 'vims:create' %}",
            success: function(response) {
                $('.modal-content').html(response);
            },
        });
    }
</script>

<script>
    function loader_device(id) {
        $('.modal-content').html('<div style="width:180px;height:180px;margin:0 auto;text-align:center;margin-top:50px;margin-bottom:50px"><div class="loader"></div></div>');

        $.ajax({
            type: "GET",
            url: "device/",
            success: function(response) {
                $('.modal-content').html(response);
            },
        });
    }

</script>